.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
  min-width: 260px;
  padding: 1.25rem 1rem;
  border: 1px solid var(--white, #FFFFFF);
  border-radius: 4px;
  line-height: 1;
  transition: all 0.3s ease-in-out;
}

.button:hover:not(:disabled) {
  cursor: pointer;
  background-color: var(--light-green, #00B7C1);
}

.button-light {
  position: relative;
  border: 0;
  border-radius: 10px;
  color: var(--white, #FFFFFF);
  background-color: transparent;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.button-light::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 70%;
  right: 0;
  border: 1px solid var(--white, #FFFFFF);
  border-radius: 10px 10px 0 0;
  border-bottom: none;
}

.button-light::after {
  content: " ";
  position: absolute;
  left: 0;
  top: 70%;
  bottom: 0;
  right: 0;
  border: 1px solid var(--white, #FFFFFF);
  border-radius: 0 0 10px 10px;
  border-top: none;
}

.button-light:hover:not(:disabled) {
  cursor: pointer;
  color: var(--primary-green, #16676B);
  background-color: var(--white, #FFFFFF);
}

.button-light.active {
  cursor: pointer;
  color: var(--primary-green, #16676B);
  background-color: var(--white, #FFFFFF);
}

.button:disabled {
  opacity: 0.5;
}